/*css for the whole body*/
body {
  margin: 30;
  padding: 20;
  /* z-index: 0; */
  min-height: 100vh;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  font-size: 18px;
}
/*css to place footer always at the end of the page*/
body::after {
  content: '';
  display: block;
  height: 200px;
}
/* font style for headings*/
h1, h2, h3, h4{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

  .advanced__background {
    background-image: url('../assets/machines.jpeg');
    background-size: cover;
    height:500px;
    width: 100%;
    background-repeat: no-repeat; 
    background-position: center center;
  }
  .advanced__backgroundBody {
    position:  relative;
    top:20%;
    left:20%;
    height: 60%;
    width: 60%;
    backdrop-filter: blur(30px);
    color:#fff;
    /* transition: 100ms backdrop-filter linear; */
  }
  /* .advanced__backgroundBody:hover {
    backdrop-filter: none;
  } */
  .advanced__backgroundBody p {
    color: #fff;
    /* background: #ccc; */
    position: relative;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom:20%;
    /* margin: 40% 40%; */
  }

  .white-space{
    width: 100%;
    height: 10vh;
  }

  .background{
    background-color: #f4f4f6;
  }

  nav{
    margin-bottom: 20px;
  }

  .navbar{
    background-color: antiquewhite;
  }

  .nav{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  .nav li{
    display: inline;
  }

  .nav-item{
    padding: 0 20px;
    color: rgba(187, 171, 212, 0.05); 
  }

  .nav-dark{
    color: rgba(187, 171, 212, 0.05);
  }

  .div-1{
    padding-top: 50px;
	  padding-bottom: 50px;
  }

  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  } 

  .card-1{
    background-image: url('../assets/telegram_bot.png' );
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }

  .card-2{
    background-image: url('../assets/bottle.jpeg' );
      background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }

  .card-3{
    background-image: url('../assets/iitm.png' );
      background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }

  .card-4{
    background-image: url('../assets/chegg.png' );
      background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }

  .card{
    background-color: #f4f4f6;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }

  .footer{
    background-color: #f7fbe2;
    position: absolute;
	  bottom: 0;
    height: 150px;
    width: 100%;  
  }

  .footer-text{
    position: relative;
    text-align: right;
  }

  .text-link{
    color: darkblue;
  }

  .footer-quote{
    justify-content: center;
  }

  .footer-favs{
    display: flex;
    justify-content: center;
  }

  


